#canvas{ 
	border: 1px solid black; 
	position: absolute;
	z-index: 0;
	left: 10px;
	top: 10px;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);	
}
#timeControls{
	position: absolute;
	z-index: 100;
	left: 25px;
	top: 725px;
}
#colorControls{
	position: absolute;
	z-index: 100;
	left: 25px;
	top: 750px;
}