#canvas{ 
	border: 1px solid white; 
	position: absolute;
	z-index: 0;
	left: 10px;
	top: 10px;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);	
}

body {
	background: #add8e6;
	font-family: 'Kite One', sans-serif;
	text-align: center;
}

header {
	margin-left: 1010px;
	margin-top: 10px;
	padding: 10px;
	background: #1abc9c;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);	
	font-size: 30px;
	color: white;
}

main {
	margin-left: 1010px;
	margin-top: 10px;
	padding: 10px;
	background: #35b5ac;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);	
	font-size: 30px;
	color: white;
}

footer {
	margin-left: 3px;
	bottom: 5px;
	width: 1000px;
	background: #57a0d3;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);	
	font-size: 18px;
	color: white;
    position: fixed;
}

label.bold {
	font-weight: bold;
}

.button {
	background-color: #008CBA;
	color: white;
	padding: 2px 25px;
	display: inline-block;
	border-radius: 12px;
	font-size: 18px;
	margin: 4px 23px;
	cursor: pointer;
}

.radial{
	cursor: pointer;
}

.slider {
	width: 500px;
	cursor: pointer;
}



