#canvas{ 
	border: 1px solid white; 
	position: absolute;
	z-index: 0;
	left: 10px;
	top: 10px;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);	
}

body {
	background: #add8e6;
	font-family: 'Kite One', sans-serif;
}

header {
	margin-left: 1010px;
	margin-top: 10px;
	padding: 10px;
	text-align: center;
	background: #1abc9c;
	color: white;
	font-size: 30px;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);	
}

main {
	margin-left: 1010px;
	margin-top: 10px;
	padding: 10px;
	color: white;
	font-size: 30px;
	background: #35b5ac;
	text-align: center;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);	
}

#timeControls{
	position: absolute;
	z-index: 100;
	left: 350px;
	top: 725px;
}

#colorStartControls{
	position: absolute;
	z-index: 100;
	left: 25px;
	top: 755px;
}

#colorEndControls{
	position: absolute;
	z-index: 100;
	left: 25px;
	top: 785px;
}

#fpsControls{
	position: absolute;
	z-index: 100;
	left: 25px;
	top: 815px;
}

#degreeControls{
	position: absolute;
	z-index: 100;
	left: 25px;
	top: 845px;
}

#petalControls{
	position: absolute;
	z-index: 100;
	left: 600px;
	top: 768px;
}

#paddingControls{
	position: absolute;
	z-index: 100;
	left: 600px;
	top: 802px;
}

.slider {
  width: 350px;
}

label.bold {
	font-weight: bold;
}